.vscode/settings.json

target/
bin/
dist/

build/package-input

# src/main/resources/com/weinsim/slpaint/fonts/Courier New/
# src/main/resources/com/weinsim/slpaint/fonts/Courier New Bold/
# src/main/resources/com/weinsim/slpaint/fonts/FreeSans/

src/main/java/com/weinsim/slpaint/sutil/SimplexNoise_octave.java